body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

#product-overview {
	background: #035c45;
	padding: 40px;
	width: 100%;
	height: 300px;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
	box-sizing: border-box;
}

.section-title {
	background: #345c03;
	padding: 40px;
	width: 50%;
	height: 100%;
	margin: 0;
	color: #ccd1fd;
}

#product-overview h1 {
	color: white;
}

/* h1 {
    font-family: sans-serif;
} */
